:root {
  --bash: #f4d430;
  --alpa: #f7e378;
  --bg: #010101;
  --kin: #133;
  --pita: #e00;
  --blok: #000;
  --text: #fff;
  --btn: #182d62;
  --opsi: #ff7f00;
  --harga: #008000;
  --linear: linear-gradient(45deg, #f4d430, #000);
  --abstrak: linear-gradient(135deg, #ffd099, #e5c2ad, #ccb5c1, #b3a7d4, #9999e8);
  --abstrak1: linear-gradient(135deg, #3e1d0a, #5c1817, #6c2604, #844205);
  --judul-font: "Kavoon", serif;
  --badan1-font: "Nunito", serif;
  --badan2-font: "Mouse Memoirs", serif;
  --harga-font: "Rum Raisin", serif;
  --bonus-font: "Miltonian Tattoo", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--badan2-font);
  background: var(--abstrak);
  background-size: 300% 300%;
  animation: gradientAnimation 6s ease infinite;
  color: var(--bg);
  font-size: 1.4rem;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  }
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--blok);
  border-bottom: 1px solid var(--bash);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav span {
  color: var(--bash);
}

.navbar .navbar-logo {
  font-size: 1.8rem;
  color: var(--text);
  font-style: italic;
  font-family: var(--judul-font);
  margin: 0 -1rem;
}

.navbar .navbar-logo span {
  color: var(--bash);
}

#colorText {
  font-size: 4rem;
  font-family: "Sniglet", serif;
  margin: 20px 0;
  font-weight: bold;
  }
button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  font-family: "Sniglet", serif;
  border: 1px solid var(--blok);
  border-radius: 5px;
  color: var(--text);
  cursor: pointer;
  background-color: var(--opsi);
  font-weight: 100;
  user-select: none;
  height: 40px;
  }
button:hover {
  background-color: var(--opsi);
  }
  
#timer {
  font-size: 1.5rem;
  color: var(--pita);
  align-items: center;
  
  }
  
#gameOver {
  color: var(--blok);
  font-size: 1.5rem;
  margin-top: 20px;
  }
  
.content {
  text-align: center;
  display: fixed;
  }
  
h1 {
  position: flex;
  padding: 10px -20px;
  font-size: 60px;
  }
    
